form{
    padding: 36px;
}
.meme-txt{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.meme-input{
    padding: 11px;
    font-size: 0.75rem;
    font-weight: 400;
    width: 14.375rem;
    border: 1px solid #D5D4D8;
    border-radius: 5px;
}