main{
    padding: 36px;
}
.form{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    margin-bottom: 17px;
}
.meme-input{
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}
.meme-btn{
    /* width: 29.8rem;
    width: 105rem;
    margin: auto;
    padding: 11px;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%); */
}
.form > img{
    width: 477px;
    margin: auto;
    margin-top: 20px;
}

/* cart counter */
.cart-count{
    display: flex;
}